/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define NUM_L 2

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "Base";
            bindings = <
&kp A      &kp B      &kp C      &kp D
&kp E      &kp F      &kp G      &kp H
            >;
        };
    };
};
